<div class="personal-info">
  <div class="photo">
    <%= image_tag('/assets/profile_pic.jpg', alt: 'personal photo', class: 'profile-pic') %>
  </div>
  <ul class="social-accounts">
    <li class="icon">
      <%= link_to 'Twitter', 'https://twitter.com/lucykbain' %>
    <li>
    <li class="icon">
      <%= link_to 'GitHub', 'https://github.com/lbain' %>
    <li>
    <li class="icon">
      <%= link_to 'Stackoverflow', 'http://stackoverflow.com/users/863846/lucy-bain' %>
    <li>
    <li class="icon">
      <%= link_to 'Blog', '/posts' %>
    <li>
    <li class="icon">
      <%= link_to 'Facebook', 'https://www.facebook.com/LucyKBain' %>
    <li>
  </ul>
</div>